<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Books</title>
</head>
<body>
    <h1 class="text-center">LIST OF BOOKS </h1>
        <div class="container bg-light">
            <div class="row">
                <div class="col-sm-8 offset-md-3">
                    <div class="card m-5 p-5">
                        <h1 class="card-header"><%= data.title %></h1>
                        <div class="card-body">
                        <%= data.author %>

                        </div>
                        <div class="card-footer">
                        <%= data.publishYear %>

                        </div>

                    </div>
                </div>
            </div>
        </div>
</body>
</html>